{% extends "layout.html.twig" %}

{% block title %}
    Add an advert - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>Add an advert</h2>

    {% include 'advert/form.html.twig' %}

    <p>
        <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    </p>

{% endblock %}