{% extends "layout.html.twig" %}

{% block title %}
    Delete an advert - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>Delete an advert</h2>

    <p>Are you sure you want to delete this advert?</p>  

    <form action="{{ path('oc_platform_delete', {'id': advert.id}) }}" method="post">

        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>

        <input type="submit" value="Delete" class="btn btn-danger" />
        {{ form_rest(form) }}
    </form>

{% endblock %}