{% extends "layout.html.twig" %}

{% block title %}
    Edit an advert - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>Edit an advert</h2>

    {% include 'advert/form.html.twig' %}

    <p>
        <a href="{{ path('oc_platform_view', {'id':advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    </p>

{% endblock %}