<h3>Advert form</h3>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    {% if form.date is defined %}
        {{ form_row(form.date) }}
    {% endif %}

    <div class="form-group">
        {{ form_label(form.title, "Title", {'label_attr': {'class': 'col-form-label'}}) }}

        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        
    </div>

    <div class="form-group">
        {{ form_label(form.content, "Content", {'label_attr': {'class': 'col-form-label'}}) }}

        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_row(form.author) }}
    
    {% if form.published is defined %}
        {{ form_row(form.published) }}
    {% endif %}

    {{ form_row(form.image) }}

    {{ form_row(form.categories) }}

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_rest(form) }}

    {{ form_end(form) }}
</div>