{% extends "layout.html.twig" %}

{% block title %}
    Home - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>Adverts</h2>

    <ul>
        {% for advert in adverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id':advert.id}) }}">
                    {{ advert.title }}
                </a>
                by {{ advert.author }},
                on the {{ advert.date|date("d/m/Y") }}
            </li>
        {% else %}
            <li>No adverts yet</li>
        {% endfor %}
    </ul>

    <ul class="pagination">
        {% for p in range(1, nbPages) %}
            <li {% if p == page %} class="page-item active" {% endif %} class="page-item">
                <a href="{{ path('oc_platform_home', {'page': p}) }}" class="page-link">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}