{% extends "layout.html.twig" %}

{% block title %}
    Advert - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    {% if advert.image is not null %}
        <img src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}">
    {% endif %}

    <h2>{{ advert.title }}</h2>
    <i>By {{ advert.author }}, on the {{ advert.date|date("d/m/Y") }}</i>

    <div class="well">
        {{ advert.content }}
    </div>

    {% if not advert.categories.empty %}
        <p>This advert is in the following categories:</p>
        {% for category in advert.categories %}
            {{ category.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}

    {% if advertSkills|length > 0 %}
        <div>
            This advert requires the following skills:
            <ul>
                {% for advertSkill in advertSkills %}
                    <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <p>
        <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
        <a href="{{ path('oc_platform_edit', {'id':advert.id }) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Edit
        </a>
        <a href="{{ path('oc_platform_delete', {'id':advert.id }) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-trash"></i>
            Delete
        </a>
    </p>

    <hr>

    <ul>
        {% for application in applications %}
            <li>{{ application.content }}</li>
        {% endfor %}
    </ul>

{% endblock %}