{% extends "base.html.twig" %}

{% block title %}
    Adverts - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Adverts</h1>

    <hr>
    
    {% block ocplatform_body %}
    {% endblock %}

{% endblock %}