{% extends "layout.html.twig" %}

{% block body %}

    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Logged in as {{ app.user.username }}
        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Login</a>
    {% endif %}

{% endblock %}